*.csv
/pythonProject/web_data
/.idea
/pythonProject/screenshots
/pythonProject/screenshots
/pythonProject/tmp
/pythonProject/geolocation_crawl
/pythonProject/geolocation_crawl_01
/pythonProject/geolocation_crawl_02
/pythonProject/menu_crawl
